[SddmGreeterTheme]
Name=Debian Theme
Name[fr]=Thème Debian
Description=Debian theme based on Plasma Breeze theme and powered by alternatives system
Description[fr]=Thème Debian basé sur le thème Plasma Breeze et configurables par le sytème d’alternatives
Type=sddm-theme
Version=0.1
Screenshot=sddm-preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=debian-theme
Theme-API=2.0
