[SddmGreeterTheme]
Name=Debian Breeze
Name[fr]=Debian Brise
Description=Debian theme based on Breeze
Description[fr]=Thème Debian basé sur Brise
Type=sddm-theme
Version=0.1
Screenshot=sddm-preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=debian-theme
Theme-API=2.0
